@import "normalize"
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P')


.container
  display: grid
  grid-gap: 10px
  grid-template-areas: "header header header" "nav content content" "footer footer footer"
  grid-template-rows: 100px 1fr 80px
  grid-template-columns: 180px 3fr
  height: 100vh

@media (max-width: 700px)
  .container
    grid-template-areas: "header" "nav" "content" "footer"
    grid-template-rows: 100px 60px 3fr 80px
    grid-template-columns: 1fr
  nav > ul > li
    display: inline

header
  grid-area: header

nav
  grid-area: nav
  margin-left: 0.5rem

main
  grid-area: content
  margin: 0 0.5rem 0 0.5rem

footer
  grid-area: footer

// TEXT

.text-center
  text-align: center

.nes-btn.active
  color: #fff
  background-color: #209cee
  &:after
    position: absolute
    top: -4px
    right: -4px
    bottom: -4px
    left: -4px
    content: ""
    box-shadow: inset -4px -4px #006bb3
