<p class="title">About</p>
<p>
  Web developer and consultant with experience building applications with Ruby,
  Rails, Elixir, Phoenix and various JavaScript frameworks, including React and
  Ember.
</p>

{{outlet}}
