<div class="container">
  <header class="text-center">
    <h1>Taylor Mock</h1>
  </header>

  <nav>
    <ul class="nes-list">
      <li>
        {{#link-to "about" class="nes-btn"}}
          Home
        {{/link-to}}
      </li>
      <li>
        {{#link-to "social" class="nes-btn"}}
          Social
        {{/link-to}}
      </li>
    </ul>
  </nav>

  <main>
    <div class="nes-container with-title is-rounded">
      {{ outlet }}
    </div>
  </main>

  <footer>
  </footer>
</div>
