<div class="container">
  <header class="center-text">
    <h1>Taylor Mock</h1>
  </header>

  <nav>
    I'm the nav
  </nav>

  <main>
    {{ outlet }}
  </main>

  <footer>
    on the footer
  </footer>
</div>
