<p class="title">Social</p>
<div class="text-center">
  <a href="https://twitter.com/tmock12" title="twitter">
    <i class="nes-icon twitter"></i>
  </a>
  <a href="https://github.com/tmock12" title="github">
    <i class="nes-icon github"></i>
  </a>
  <a href="https://www.linkedin.com/in/taylormock/" title="linkedin">
    <i class="nes-icon linkedin"></i>
  </a>
  <a href="https://www.instagram.com/tmock12/" title="instagram">
    <i class="nes-icon instagram"></i>
  </a>
</div>
